<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kuro.vhr.mapper.DepartmentMapper">

    <resultMap id="BaseResultMap" type="org.kuro.vhr.model.entity.Department">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
        <result column="dep_path" property="depPath" jdbcType="VARCHAR"/>
        <result column="enabled" property="enabled" jdbcType="BIT"/>
        <result column="is_parent" property="isParent" jdbcType="BIT"/>
    </resultMap>

    <resultMap id="DepartmentWithChildren" type="org.kuro.vhr.model.entity.Department" extends="BaseResultMap">
        <collection property="children" ofType="org.kuro.vhr.model.entity.Department"
                    select="org.kuro.vhr.mapper.DepartmentMapper.getAllDepartmentsByParentId" column="id" />
    </resultMap>

    <select id="getAllDepartmentsByParentId" resultMap="DepartmentWithChildren">
        select * from department where parent_id=#{pid};
    </select>

</mapper>